.project-section {
  padding: 40px 0 80px;
  @include max-767 {
    padding: 40px 0 60px;
  }
  .section-head {
    font-size: 48px;
    @include max-767 {
      font-size: 36px;
    }
  }
  .gallery-cont {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include max-991 {
      grid-template-columns: repeat(3, 1fr);
    }
    @include max-767 {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  .gallery-figure {
    aspect-ratio: 273/181;
  }
  .gallery-figure::after {
    display: none;
  }
  .gallery:hover img {
    transform: scale(1.05);
  }
}
.project-content {
  gap: 0;
}
.title-name {
  font-weight: 700;
  font-size: 24px;
  color: #fff1e5;
  margin-bottom: 15px;
  @include max-767 {
    font-size: 20px;
  }
}
.project-name {
  font-weight: 700;
  font-size: 48px;
  color: #fff1e5;
  margin-bottom: 40px;
  @include max-767 {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
.project-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 28px;
  @include max-767 {
    margin-bottom: 20px;
  }
}
.project-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: $white;
  gap: 4px;
  @include max-767 {
    font-size: 20px;
  }
}
.main-pargh {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff1e5;
  margin-bottom: 0;
  max-width: 635px;
  @include max-767 {
    font-size: 15px;
  }
}
.blog-main {
  gap: 0;
  .title-name,
  .project-name,
  .project-item {
    color: #07213d;
  }
  .project-name {
    margin-bottom: 24px;
  }
}
.content-section {
  margin-top: 40px;
}
